<form action="#" class="billing-form checkout-form">
    <div class="row">
        <div class="col-md-6 col-12 mb--20">                                 
            <input class="firstPersonName" type="text" placeholder="نام">
        </div>
        <div class="col-md-6 col-12 mb--20">                             
            <input class="firstPersonLastName" type="text" placeholder="نام خانوادگی">
        </div>
        <div class="col-12 mb--20">
            <input class="firstPersonAddress" placeholder="آدرس پستی" type="text">
        </div>
        <div class="col-12 mb--20">
            <input class="firstPersonCity" placeholder=" لطفا شهر مورد نظر رو انتخاب کنید" type="text">
        </div>
        
        <div class="col-md-6 col-12 mb--20">                                 
            <input class="firstPersonPostId" placeholder="کدپستی" type="text">
        </div>
        <div class="col-md-6 col-12">                                   
            <input class="firstPersonPhone" placeholder="شماره تلفن" type="text">
        </div>                          
    </div>
</form>