<form action="#" class="shipping-form checkout-form">
    <div class="row">
        <div class="col-md-6 col-12 mb--20">                                 
            <input class="secondPersonName" type="text" placeholder="نام">
        </div>
        <div class="col-md-6 col-12 mb--20">                             
            <input class="secondPersonLastName" type="text" placeholder="نام خانوادگی">
        </div>
        <div class="col-12 mb--20">
            <input class="secondPersonAddress" placeholder="آدرس پستی" type="text">
        </div>
        <div class="col-12 mb--20">
            <input class="secondPersonCity" placeholder=" لطفا شهر مورد نظر رو انتخاب کنید" type="text">
        </div>
        
        <div class="col-md-6 col-12 mb--20">                                 
            <input class="secondPersonPostId" placeholder="کدپستی" type="text">
        </div>
        <div class="col-md-6 col-12">                                   
            <input class="secondPersonPhone" placeholder="شماره تلفن" type="text">
        </div>                          
    </div>
</form>