<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>نمایشگاه صنایع دستی</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/icon.png">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/lib/bootstrap.min.css">
	<link rel="stylesheet" href="css/lib/plugins.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/lib/all.min.css">
    <link href="/panel/css/easy-autocomplete.css" rel="stylesheet" type="text/css" />
    <link href="/panel/css/easy-autocomplete.themes.css" rel="stylesheet" type="text/css" />
    
	<!-- Cusom css -->
   <link rel="stylesheet" href="css/lib/custom.css">

	<!-- Modernizer js -->
    <script src="/user/custom/js/auth.js"></script>
    <script src="/user/custom/js/apiURL.js"></script>
	<script src="js/lib/vendor/modernizr-3.5.0.min.js"></script>
	<script src="js/lib/all.js"></script>
</head>
<body style="overflow-y: hidden;" dir="rtl">
	

	<!-- Add your site or application content here -->

    	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Start Header Area -->
        <%- include('./partials/header.ejs')  %> 
        <!-- End Header Area -->
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--20">
            <div class="ht__bradcaump__wrap d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bradcaump__inner text-center brad__white">
                                <h2 class="bradcaump-title">درباره ما</h2>
                                <nav class="bradcaump-inner">
                                    <a class="breadcrumb-item" href="../index.html">صفحه اصلی</a>
                                    <span class="brd-separetor"><i class="fas fa-arrow-left" style="color: white"></i></span>
                                    <span class="breadcrumb-item active">درباره ما</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start About Us Area  -->
        <section class="art__about__us__area section-padding--lg bg--white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__title title__style--2 service__align--center">
                            <h2 class="title__line">چرا باید ما را انتخاب کنید</h2>
                            <p>نحوه کار ما</p>
                        </div>
                    </div>
                </div>
                <div class="row mt--80 align-items-center">
                    <div class="col-lg-6 col-sm-12 col-md-12 align-self-center">
                        <div class="art__container">
                            <div class="art__inner text-right">
                                <h2>درباره ما بیشتر بدانید</h2>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد</p>
                            </div>
                            <div class="art__details text-right">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد</p>
                            </div>
                            <div class="art__tab text-right">
                                <div class="art__nav nav nav-tabs d-block" role="tablist">
                                    <a class="active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">1. تاریخچه ما</a>

                                    <a id="nav-prepare-tab" data-toggle="tab" href="#prepare" role="tab" aria-controls="prepare" aria-selected="false">2. ما چطور کار میکنیم</a>

                                    <a id="nav-meals-tab" data-toggle="tab" href="#meals" role="tab" aria-controls="meals" aria-selected="false">3. مراحل کار ما</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-12" dir="ltr">
                        <div class="art__video__wrap tab-content" id="nav-tabContent">
                            <!-- Start Single Video -->
                            <div class="video__owl__activation tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="about__video__activation owl-carousel owl-theme">
                                    <div class="about__video__inner">
                                        <div class="about__video__thumb">
                                            <img src="images/about/video/1.jpg" alt="images">
                                        </div>
                                        <div class="about__video__content">
                                            <span>1</span>
                                        </div>
                                    </div>
                                    <div class="about__video__inner">
                                        <div class="about__video__thumb">
                                            <img src="images/about/video/2.jpeg" alt=" images">
                                        </div>
                                        <div class="about__video__content">
                                            <span>2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Video -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Us Area  -->
        <!-- Start Our Team Area -->
        <section class="art__team__area team--2 bg--white section-padding--lg bg-image--21">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section__title title__style--2 service__align--center section__bg__black">
                            <h2 class="title__line">با تیم ما آشنا شوید</h2>
                            <p>مراحل کار ما </p>
                        </div>
                    </div>
                </div>
                <div class="row mt--40 justify-content-center">
                    <!-- Start Single Team -->
                    <div class="col-lg-4  col-md-4">
                        <div class="team text-center foo">
                            <div class="team__thumb">
                                <a href="team-details.html">
                                    <img src="/panel/images/users/avatar-1.jpg"alt="team images">
                                </a>
                            </div>
                            <div class="team__content">
                                <div class="team__info">
                                    <h4><a href="team-details.html">ساینا قمشی</a></h4>
                                    <h6>برنامه نویس</h6>
                                </div>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Team -->
                    <!-- Start Single Team -->
                    <div class="col-lg-4 col-md-4">
                        <div class="team text-center foo">
                            <div class="team__thumb">
                                <a href="team-details.html">
                                    <img src="images/team/team-list/3.jpeg" alt="team images">
                                </a>
                            </div>
                            <div class="team__content">
                                <div class="team__info">
                                    <h4><a href="team-details.html">ساینا قمشی</a></h4>
                                    <h6>برنامه نویس</h6>
                                </div>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Team -->
                </div>
            </div>
        </section>
        <!-- End Our Team Area -->
        <!-- Start Footer Area -->
        <footer class="footer__area footer--1">
            <div class="col-lg-12 col-md-12" style="padding: 0px;">
                <div class="subscribe__inner subscribe--3" style="top: 0">
                        <div class="subs__address__content d-flex justify-content-between">
                            <div class="subs__address d-flex">
                                <div class="sbs__address__icon">
                                    <i class="fas fa-home" style="font-size: 40px;"></i>
                                </div>
                                <div class="subs__address__details">
                                    <p>تهران<br>ایران</p>
                                </div>
                            </div>
                            <div class="subs__address d-flex">
                                <div class="sbs__address__icon">
                                    <i class="fas fa-phone" style="font-size: 40px;"></i>
                                </div>
                                <div class="subs__address__details">
                                    <p><a dir="ltr" href="#">+98 912-11111111</a></p>
                                                <p><a dir="ltr" href="#">+98 021-22222222</a></p>
                                </div>
                            </div>
                            <div class="subs__address d-flex">
                                <div class="sbs__address__icon">
                                    <i class="far fa-envelope" style="font-size: 40px;"></i>
                                </div>
                                <div class="subs__address__details">
                                    <p><a href="#">test@email.com</a></p>
                                                <p><a href="#">test@email.com</a></p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="copyright bg--theme">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="copyright__inner">
                                <div class="cpy__right--left">
                                    <p>@All Right Reserved.<a >WTIAU</a></p>
                                </div>
                                <div class="cpy__right--right">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->
       <!-- Login Form -->
       <%- include('./partials/loginRegister.modal.ejs')  %> 
       <!-- //Login Form -->
           <!-- Cartbox -->
       <%- include('./partials/cartBox.modal.ejs')  %> 
       <!-- //Cartbox -->   
	</div><!-- //Main wrapper -->
	
	<!-- <div class="fakeloader"></div> -->



	<!-- JS Files -->
	<script src="js/lib/vendor/jquery-3.2.1.min.js"></script>
    <script src="/panel/js/axios.js"></script>
    <script src="/panel/js/jquery.easy-autocomplete.js"></script>
    <script src="/user/custom/js/listOfCategories.js"></script>
    <script src="/user/custom/js/loginRegister.js"></script>
    <script src="/user/custom/js/shopIdEraeser.js"></script>
    <script src="/user/custom/js/categoryIdEraeser.js"></script>
    <script src="/user/custom/js/cartEreaser.js"></script>
	<script src="js/lib/popper.min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>
	<script src="js/lib/plugins.js"></script>
	<script src="js/lib/active.js"></script>
    
</body>

</html>














