
        <!-- Start Special Offer -->
        <section class="art__category__area bg--white section-padding--lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="section__title service__align--right">
                            <p class="text-right">گزیده ای از برترین</p>
                            <h2 class="title__line text-right">دسته بندی ها</h2>
                        </div>
                    </div>
                </div>
                <div class="art__category__wrapper mt--40">
                    <div class="row categoryPictures " style="overflow-x: auto; flex-wrap: unset;">
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- End Special Offer -->