<div class="cartbox-wrap">
    <div class="cartbox text-right">
        <button class="cartbox-close closeCartModal"><i class="fa fa-times" aria-hidden="true"></i></button>
        <div class="cartbox__inner text-left cartBoxModalItemsContainer">
            <div class="cartbox__items cartBoxModalItems">
            </div>
        </div>
    </div>
</div>