<header class="htc__header bg--white header-direction">
    <!-- Start Mainmenu Area -->
    <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-4 col-md-6 order-1 order-lg-1">
                    <div class="logo">
                        <a href="/user/">
                            <img src="images/logo/logo.png" alt="logo images">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-sm-4 col-md-2 order-3 order-lg-2">
                    <div class="main__menu__wrap">
                        <nav class="main__menu__nav d-none d-lg-block">
                            <ul class="mainmenu">
                                <li class="drop"><a href="/user/">خانه</a>
                                </li>
                                <li><a href="aboutUs">درباره ما</a></li>
                                <li class="drop"><a href="#">دسته بندی</a>
                                    <ul class="dropdown__menu categoryHeaderMenu">
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        
                    </div>
                </div>
                <div class="col-lg-1 col-sm-4 col-md-4 order-2 order-lg-3">
                    <div class="header__right d-flex justify-content-end">
                        <div class="shopping__cart">
                            <a class="minicart-trigger miniCartModal" href="./cart.html"><i class="fas fa-shopping-cart"></i>
                                </a>
                            <div class="shop__qun numberOfCartProductContainer ">
                                <span class="numberOfCartProduct">00</span>
                            </div>
                        </div>
                        <div class="log__in">                   
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu -->
                <div class="mobile-menu d-block d-lg-none"></div>
            <!-- Mobile Menu -->
        </div>
    </div>
    <!-- End Mainmenu Area -->
</header>