<div class="accountbox-wrapper">
    <div class="accountbox text-right">
        <ul class="nav accountbox__filters" id="myTab" role="tablist">
            <li>
                <a class="active" id="log-tab" data-toggle="tab" href="#log" role="tab" aria-controls="log" aria-selected="true">ورود</a>
            </li>
            <li>
                <a id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">ثبت نام</a>
            </li>
        </ul>
        <div class="accountbox__inner tab-content" id="myTabContent">
            <div class="accountbox__login tab-pane fade show active" id="log" role="tabpanel" aria-labelledby="log-tab">
                <form action="#">
                    <div class="single-input">
                        <input id="loginEmail" class="cr-round--lg" value="" type="text" placeholder="ایمیل خود رو وارد نمایید ">
                    </div>
                    <div class="single-input">
                        <input  id="loginPassword" value="" class="cr-round--lg" type="password" placeholder="پسورد">
                    </div>
                    <div class="single-input">
                        <button id="loginButton" type="submit" class="art__btn"><span>ورود</span></button>
                    </div>
                </form>
            </div>
            <div class="accountbox__register tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <form action="#">
                    <div class="single-input">
                        <input id="userFirstNameRegister" class="cr-round--lg" type="text" placeholder="نام ">
                    </div>
                    <div class="single-input">
                        <input id="userLastNameRegister" class="cr-round--lg" type="text" placeholder="نام خانوادگی ">
                    </div>
                    <div class="single-input">
                        <input id="userEmailRegister" value="" class="cr-round--lg" type="email" placeholder=" آدرس ایمیل">
                    </div>
                    <div class="single-input">
                        <input id="userPasswordRegister" value="" class="cr-round--lg" type="password" placeholder="پسورد">
                    </div>
                    <div class="single-input">
                        <input id="userReEnterPasswordRegister" class="cr-round--lg" type="password" placeholder="تایید پسورد">
                    </div>
                    <div class="single-input">
                        <button id="registerUserButton" type="submit" class="art__btn"><span>ثبت نام</span></button>
                    </div>
                </form>
            </div>
            <span class="accountbox-close-button"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
    </div>
</div>