<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img id="gallerySideBarImage" alt="عکس گالری"  class="img-circle img-thumbnail img-responsive" style="max-height: 100px;">
            </div>
            <h5><a id="gallerySideBarName" href="#"></a> </h5>
            <ul class="list-inline">
                <li>
                    <a href="shopProfile" >
                        <i class="zmdi zmdi-settings"></i>
                    </a>
                </li>

                <li>
                    <a id="logOff" href="#" class="text-custom">
                        <i class="zmdi zmdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title"> صفحات شما </li>

                <li>
                    <a href="listOfProduct" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> لیست محصولات </span> </a>
                </li>

                <li>
                    <a href="listOfCheckout" class="waves-effect"><i class="zmdi zmdi-format-underlined"></i> <span> فروش ها </span> </a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>