<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img src="/panel/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
            </div>
            <h5><a href="#">ساینا قمشی</a> </h5>
            <ul class="list-inline">
                <li>
                    <a id="logOff" href="#" class="text-custom">
                        <i class="zmdi zmdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title"> صفحات شما </li>

                <li>
                    <a href="listOfShopProducts" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> لیست محصولات </span> </a>
                </li>

                <li>
                    <a href="listOfProvince" class="waves-effect"><i class="zmdi zmdi-format-underlined"></i> <span> استان ها </span> </a>
                </li>

                <li>
                    <a href="listOfCities" class="waves-effect"><i class="zmdi zmdi-format-underlined"></i> <span> شهر ها </span> </a>
                </li>

                <li>
                    <a href="listOfCategories" class="waves-effect"><i class="zmdi zmdi-format-underlined"></i> <span> دسته بندی ها </span> </a>
                </li>

                <li>
                    <a href="listOfUsers" class="waves-effect"><i class="zmdi zmdi-format-underlined"></i> <span> لیست مشتری ها </span> </a>
                </li>

                <li>
                    <a href="listOfSellers" class="waves-effect"><i class="zmdi zmdi-format-underlined"></i> <span> لیست فروشنده ها </span> </a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>

